# Flutter / Dart / Pub build & tooling ignores
/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Secrets, API Keys & Credentials
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
*.keystore
*.jks
.env
.env.*
key.properties

# IDEs & Editor ignores
.idea/
*.iml
.vscode/

# System & OS files
.DS_Store
Thumbs.db
*.log
